.mobUnit {
    display: none
}
.details {
  text-align: center;
  line-height: 2px;
}

html, body{
  background-color: #292b2c !important;
  color: white !important;
  text-align: center;

}

.adSlot1, .adSlot2, .adSlot3, .adSlot6, .adSlot7 {
  background-color: white;
  margin: auto;
}

.adSlot4 {
  margin: auto;
  position: fixed;
  bottom: 0;
  background-color: white;
  z-index: 1000;
  left: 0;
  right: 0;
}

.adSlot5 {
  left: 0;
  right: 0;
  background-color: white;
  margin: auto;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 1000;
}

.jumbotron {
  margin: 100px !important;
}

a {
    color: white !important;
    font-size: 20px;
}

button {
    margin: 20px !important;
}

.emu {
    color: black !important;
    font-weight: 800 !important;
}