body {
  background-color: #eee;
}

#navBar {
  margin-bottom: 40px;
}
nav {
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.3);
}

.cardsEmb, .videoEmb, .aboutUs, .flareImg, .productPara1, .guiImg, .productPara2 {
  margin-bottom: 20px;
}

p {
  font-size: 16px;
}

.mainContainer {
  padding: 40px;
}

@media only screen and (max-width: 500px) {
    .mainContainer {
        padding: 10px;
    }
}

@media only screen and (max-width: 500px) {
    p {
        font-size: 12px;
    }
}
